@media only screen and (max-width: 1025px){
    html, body{
        font-size: 9.25px;
    }
}

@media only screen and (max-width: 913px){
    html, body{
        font-size: 9px;
    }

    .question-content{
        width: 85rem;
    }
}

@media only screen and (max-width: 769px){
    html, body{
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 733px){
    html, body{
        font-size: 8.2px;
    }
}

@media only screen and (max-width: 700px){
    html, body{
        font-size: 8px;
    }

    .question-content{
        width: 80rem;
    }
}

@media only screen and (max-width: 650px){
    .question-content{
        width: 75rem;
    }
}

@media only screen and (max-width: 610px){
    .question-content{
        width: 70rem;
    }
}

@media only screen and (max-width: 569px){
    html, body{
        font-size: 7.8px;
    }

    .question-content{
        width: 60rem;
    }
}

@media only screen and (max-width: 578px){
    .question-content{
        width: 55rem;
    }
}

@media only screen and (max-width: 415px){
    .question-content{
        width: 50rem;
    }
}

@media only screen and (max-width: 394px){
    html, body{
        font-size: 7.5px;
    }
}

@media only screen and (max-width: 376px){
    html, body{
        font-size: 7px;
    }
}

@media only screen and (max-width: 281px){
    html, body{
        font-size: 6px;
    }

    .question-content{
        width: 45rem;
    }
}