body{
    background-color: #e7eee3;
}

.info-div{
    display: none;
    white-space: pre-wrap;
}

.info-div strong{
    color: #869281;
}

.text p {
    margin-bottom: -7rem;
}

/* .more-details{
    text-align: center;
    margin-top: 1.5rem;
} */

.text h1{
    font-size: 1.9rem;
    text-align: center;
    color: #212E1B;
}

.text p, li{
    font-size: 1.5rem;
    color: #212E1B;
}

.text a{
    color: #869281;
}

.ul-img{
    display: flex;
    justify-content: space-between;
    margin-bottom: -5rem;
}

ul { 
	display: inline-block; 
	text-align: left; 
    list-style-position: inside;
}

ul li{
    margin-bottom: -1rem
}

.image{
    width: 60rem;
}

.results-img{
    width: 100%;
}

.image figcaption{
    text-align: center;
    color: #212E1B
}

/* btn */
.results-page-btn{
    text-align: center;
}

.goback-btn-js{
    width: 30rem;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* park logotypes */
.logotypes-park{
    width: 25rem;
    margin: 0 auto;
    margin-bottom: -3rem;
    margin-top: -3rem;
}

.logotypes-park-img{
    width: 100%;
}

/* logotypes footer */
.logotypes-footer{
    width: 65rem;
    margin: 0 auto;
}

.logotypes-footer-img{
    width: 100%;
}





